.container
  .row
    .col-md-12
      %h1 TCS where_is simulator
      - if  local_assigns[:result]
        %h2 Previous query
        %p= query
        %h3 Response
        - if result.is_a?(Array)
          %ul
            - result.each do |room|
              %li= room
        - else
          %p= result
          %h2 New query
      = form_tag root_path do
        .form-group
          = text_field_tag :query
        = submit_tag 'Submit', class: 'btn btn-default'